.team-color-board {
    height: 95%;
    width: 95%;
    color: black;
    /* border: 5px solid white; */
    background-color: white;
    box-shadow: 0 0 0 4px black;
    text-align: center;
    align-items: center;
}

.card-body {
    transition: all 0.25s;
    padding: 2px;
}

.card-body:hover {
    filter: drop-shadow(0 0 2em DarkTurquoise) drop-shadow(0 0 2em DarkTurquoise);
}

div.selected {
    color: #fff;
    /* border: 5px solid #D18237; */
    background-color: SteelBlue;
}

div.algo-chosen-top {
    /* border: 5px solid black; */
    box-shadow: 0 0 0 4px rgb(1, 136, 247);
}

div.algo-chosen-bottom {
    /* border: 5px solid black; */
    box-shadow: 0 0 0 4px #D66C44;
}

.next-player {
    padding: 0vw;
}

.card-container.col-md-2 {
    padding: 1px;
}

.choosed {
    background-color: yellowgreen;
}

.gameStart {
    background-color: greenyellow;
    width: 45%;
}

#court1end,
#court2end,
#court3end,
#court4end {
    background-color: #D18237;
    border-color: #D18237;
}

#court1end:hover,
#court2end:hover,
#court3end:hover,
#court4end:hover {
    background-color: #f6973f;
    border-color: #f6973f;
}

/* #endGame-container {
    padding: 0%;
} */

#open_modal_of_record_score {
    background-color: #D18237;
    border-color: #D18237;
}

#open_modal_of_record_score:hover {
    background-color: #f6973f;
    border-color: #f6973f;
}

#pickPeople {
    background-color: SteelBlue;
    border-color: SteelBlue;
}

#pickPeople:hover {
    background-color: rgb(90, 171, 237);
    border-color: rgb(90, 171, 237);
}

#go_to_pk {
    background-color: SteelBlue;
    border-color: SteelBlue;
}

#go_to_pk:hover {
    background-color: rgb(90, 171, 237);
    border-color: rgb(90, 171, 237);
}

.even {
    background-color: rgb(122, 176, 223);
}

.odd {
    background-color: antiquewhite;
}

.court {
    background-color: #4A746A;
    border: 2px solid white;
    /* min-height: 350px; */
    margin-bottom: 5px;
}

.row>div {
    padding: 5px;
}

/* .court td {

height: 80px;
}
*/

.court .net {
    background-color: aliceblue;
    height: fit-content;
    border-color: aliceblue;
}

td.noNet {
    /* text-align: center; */
    color: aliceblue;
    padding: 0;
}

table.court tr.net-wrap {
    height: 1%;
}

table.court tr.team-wrap {
    height: 10px;
    background-color: transparent;
}

div.btn-wrap {
    align-items: center;
}

.main-container {
    background-color: #97BAA4;
}

.person-span {
    margin: 3px;
    border: 1px solid black;
    /* background-color: white; */
}

.court-5 {
    /* background-color: white; */
    background-color: #324856;

}


.analysis td {
    height: auto;
}

.personal_table {
    background-color: aliceblue;
    margin: 2px;
    border-radius: 3px;
}

.json {
    width: 100%;
}

.simplify_able_true {
    visibility: hidden;
}

.choosed {
    background-color: rgb(216, 235, 133);
}

tr.backSpace {
    height: 2%;
    padding: 0%;
}

tr.backSpace>td {
    padding: 2%;
}

td.sideSpace {
    width: 5%;
    padding: 0%;
}

table.court td.td-player {
    color: white;
    font-size: 150%;
    text-align: center;
    /* 水平置中 */
    vertical-align: middle;
    /* 垂直置中 */
    padding: 0%;
    height: auto;
    min-height: 0;
}

p.card-text {
    text-align: left;
}

td.bottom {
    color: black;
    font-size: 100%;
    text-align: center;
    /* 水平置中 */
    vertical-align: middle;
    /* 垂直置中 */
    padding: 0%;
}

td.top {
    color: black;
    font-size: 100%;
    text-align: center;
    /* 水平置中 */
    vertical-align: middle;
    /* 垂直置中 */
    padding: 0%;
}

div.upSide {
    border-bottom: white dashed 1px;
}

div.left-aligned {
    text-align: center;
    display: block;
    /* padding-left: 0.5ch; */
    border-bottom: white dashed 1px;
}

div.right-aligned {
    text-align: center;
    display: block;
    /* padding-right: 0.5ch; */
}

#wait_to_register_text {
    text-align: center;
}

.team-color-0 {
    background-color: #ffd7e9;
    /* border: 3px solid #ffd7e9; */
}

.team-color-1 {
    background-color: #d7f2ff;
}

.team-color-2 {
    background-color: #fff7c7;
}

.team-color-3 {
    background-color: #c7ffd7;
}

.team-color-4 {
    background-color: #e7d7ff;
}

.team-color-5 {
    background-color: #ffe7d7;
}

.team-color-6 {
    background-color: #f0e3e3;
}

.team-color-7 {
    background-color: #d7ffeb;
}

.team-color-8 {
    background-color: #ffd7dc;
}

.team-color-9 {
    background-color: #d7f7ff;
}

.team-color-10 {
    background-color: #fff2d7;
}

@keyframes blink-border {
    0% {
        background-color: transparent;
        border-color: transparent
    }

    50% {
        background-color: #D18237;
        border-color: 1px solid #D18237;

    }

    100% {
        background-color: transparent;
        border-color: transparent
    }
}

.blinking-border {
    background-color: #D18237;
    border-color: 1px solid #D18237;
    /* 邊框初始樣式 */
    animation: blink-border 0.5s linear infinite;
    /* 應用動畫 */
}


/* 模態視窗樣式 */
div.boModal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

div.boModal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    /* 調整模態視窗的寬度 */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* 添加陰影效果 */
    border-radius: 5px;
    /* 圓角邊框 */
    text-align: center;
}

/* 按鈕樣式 */
button {
    background-color: #4CAF50;
    /* 綠色 */
    color: white;
    padding: 2px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    height: 40px;
}

button:hover {
    background-color: #45a049;
}

/* 關閉按鈕樣式 */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 模態視窗樣式 */
.modal-dialog {
    max-width: 600px;
    /* 設置最大寬度 */
    margin: 30px auto;
    /* 居中顯示 */
}

.modal-content {
    background-color: #fff;
    /* 設置背景顏色 */
    border-radius: 8px;
    /* 圓角邊框 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* 添加陰影 */
    padding: 20px;
    /* 內距 */
}

/* 樣式化按鈕 */
.btn {
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    /* 鼠標懸停時顯示手形 */
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* 表格樣式 */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table td,
.table th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* 下拉選單樣式 */
select {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

#confirmBtn {
    background-color: #007bff;
}

#cancelBtn {
    background-color: #aaa;
}